# Database
DB_HOST=localhost
DB_PORT=5434
DB_USERNAME=verificacion_user
DB_PASSWORD=verificacion_pass
DB_DATABASE=verificacion_db

# RabbitMQ
RABBITMQ_URL=amqp://admin:admin123@localhost:5672
RABBITMQ_QUEUE_RPC=verificacion.rpc.queue
RABBITMQ_QUEUE_EVENTOS=verificacion.eventos.queue
RABBITMQ_EXCHANGE=arquitecto.exchange

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Application
PORT=3002
NODE_ENV=development

