# Database
DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=arquitecto_user
DB_PASSWORD=arquitecto_pass
DB_DATABASE=arquitecto_db

# RabbitMQ
RABBITMQ_URL=amqp://admin:admin123@localhost:5672
RABBITMQ_QUEUE_ARQUITECTO=arquitecto.queue
RABBITMQ_EXCHANGE=arquitecto.exchange

# Application
PORT=3001
NODE_ENV=development

